auto-install-peers=false
engine-strict=true
inject-workspace-packages=true
manage-package-manager-versions=true
prefer-workspace-packages=true
save-exact=true
shared-workspace-lockfile=true
strict-peer-dependencies=true
